*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.Container {
    height: 450px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 9999;
    transition: 2s ease-in;
    background-color: white;
}

.HeadingContainer{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0%;
    border-bottom: 2px solid #7171713f;
}

.Heading{
    font-size: 35px;
    font-family:sans-serif;
    font-weight: 100;
    padding-top: 30px;
    padding-left: 80px;
}

.UserContainer{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 22%;
}

.ProfileContainer{
    height: 100%;
    width: 30%;
    border-right: 2px solid #7171713f;
    display: flex;
    flex-direction: column;
}

.Profile,.Order{
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #7171713f;
    display: flex;
    justify-content: start;
    align-items: center;
}
.Profile li{
    list-style: none;
}

.Order li{
    list-style: none;
}

.Profile a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size:20px;
    font-family: sans-serif;
    margin-left: 50px;
}

.Profile:last-child{
    background-color: aqua;
}
.Order a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size:20px;
    font-family: sans-serif;
    margin-left: 50px;  
}