* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 400px;
    width: 340px;
    position: relative;
    top: 180px;
    border: 1px solid #7171719f;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    height: 60%;
    width: 100%;
    position: relative;
    background-color: #7171711f;
    border-bottom: 1px solid #7171719f;
    cursor: pointer;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.DatialContainer {
    height: 30%;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #7171719f;
}

.DatialContainer h1 {
    font-size: 17px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    line-height: 25px;
    padding-left: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}



.btn{
    height: 9%;
    width: 40%;
    border: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 3px;
    border-radius: 10px;
    background-color: black;
}


/*Product Component Css*/
.MapContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink:inherit;
    gap: 20px;
}