*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Footer{
    height: 100px;
    width: 100%;
    position: relative;
    top: 100%;
    border-top: 2px solid #7171714f;
}

.footerUl{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 30px;
}
.footerItem{
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 200;
    padding-right: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}